li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.gap-30px {
    gap: 30px;
}

.header {

    height: 93px;
}

.leftHeader {
    display: flex;
    gap: 5px;
}


li {
    list-style: none;
}

span {
    padding: 4px;
}

.fa {
    font-size: 15px;
}

.rightItem {
    display: flex;
}


.rightHeader {
    display: flex;
}

.nameBrand {
    font-size: 30px;
}

#countries {
    border: 2px solid black;
}

.navNoiti {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    /* Sử dụng flexbox */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    height: 36.65px;
    background-color: rgb(255, 107, 74);
    line-height: 36.65px;
}

.textNoiti {

    margin: auto;
    font-weight: 500;
    align-items: center;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    color: white;
    margin: auto;
}


.container {
    width: 100%;
    grid-template-columns: repeat(4, 1fr)
}

.grid--item {
    grid-template-columns: repeat(4, 1fr);
    min-height: 100px;

}

.grid--footer {
    margin-top: 100px;
    height: 100px;
    margin-top: 500px;
    grid-column: 1/3;

}

.grid--footerBottom {
    margin-top: 300px;
    height: 100px;
    align-items: center;
    text-align: center;
    grid-column: 1/10;
}

.grid--item {
    padding-right: 30px;
    font-size: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.textFooter {
    font-size: 10px;
}

.text_title {
    font-weight: 300;
    letter-spacing: 4px;
}

.emailBtn {
    border-bottom: 1.5px solid black;
}

.text_footer {
    margin-top: 20px;
}

.grid-product_tag {
    color: white;
    text-align: center;
    max-height: 50px;
    max-width: 70px;
    background-color: black;
}

.grid-product_price {
    font-size: 30px;
}




/* @media (max-width: 600px) {
    .container_child {
        align-items: center;
    }

    .col-3 {
        width: 100% !important;
    }
} */

.container_block {
    width: 100%;
    height: 70vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideShow {
    width: 100%;
    object-fit: cover;
    transition: 1s ease;
    position: relative;
    overflow: hidden;
}


.imge-list {
    width: 100%;
    background-color: aqua;
    transition: 1s ease;
    display: flex;
    transform: translateX();
}

.imge-list img {
    width: 100%;
}

.imageItem {
    height: 70vh;
    width: 100%;
    max-width: 100%;
    transition: 1s ease;
}


.slideItem {
    transition: 1s ease;
    flex: 0 0 100%;
}


.btn {
    top: 50%;
    position: absolute;
    color: red;
}

.btn:hover {
    transition: 0.3 ease;
    scale: 1.4;
}

.leftBtn {
    left: 0;

}

.rightBtn {
    right: 0;

}



.grid-product {
   background-image: url(/imgs/image.png);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
}


.notice:hover  { 

}

.grid-noitce  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
}

.section-header {
    color: rgb(55, 55, 28);
    background-repeat: none;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

.grid-product__link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-product__link {
    visibility: visible;
    transform: translateY(-40px);
}

.img-product {

    background-image: red;
    height: 310px;
    transition: transform 0.4s ease;
    transform-origin: bottom right;
}

.img-product:hover {

    transform: rotate(10deg);
    scale: 1.02;


}

.grid-product_title {
    font-size: 30px;
}

.product_size {
    border: 2px solid white;
    font-size: 40px;
    padding: 10px;
    transition: all ease 0.2s;
    width: 60px;
    height: 60px;
    line-height: 1;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}

.product_size:hover {
    border: 2px solid black;
}

.size {
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translateY(10%);
}

.products_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-product:hover {
    transform: rotate(10deg) scale(1.02);
}

.text_decrib {
    font-size: 20px;
    font-family: "Lexend", sans-serif;
    color: white;
}


.text_titleProduct {
    margin-top: 30px;
    font-family: "Lexend", sans-serif;
    color: whitesmoke;
    font-weight: 700;
    color: black;

}

.btnBuy {
    border-radius: 10px;
    text-align: center;
    align-items: center;
    height: 40px;
    background-color: white;
    margin-top: 10px;
    font-size: 20px;
    padding: 7px;
    border: 1px solid;
    transition: 1s ease;
}

.btnBuy:hover {
    scale: 1.1;
}

.grid-product_price_child {
    margin-top: 12px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.grid-product_price {}


@keyframes hideLink {
    0% {
        display: flex;
    }

    100% {
        display: none;
        /* Thay đổi từ visibility */
    }
}

@keyframes showSize {
    0% {
        visibility: hidden;
    }

    100% {
        text-align: center;
        display: flex;
        justify-content: center;
        transform: translateY(10%);
    }
}

.img-product:hover~.grid-product__link {
    animation: hideLink 0.5s ease forwards;
}

.img-product:hover~.size {
    animation: showSize 0.5s ease forwards;
}

#carouselExampleControls {
    align-items: center;
}

#carouselExampleControls::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu đen với độ trong suốt là 50% */
}


.slideText {
    /* background-color:  red; */
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    align-items: center;
}

.text_title {
    color: white;
    font-size: 30px;

}

.text_title2 {
    font-family: "Lexend", sans-serif;
    color: whitesmoke;
    font-weight: 300;
    margin-top: 15px;
    font-size: 40px;

}



.btn_order {
  
    letter-spacing: 2px;
    padding: 12px;
    margin-top: 15px;
    background-color: white;
}

.noitce:hover .noitce_Sale1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.noitce:hover .noitce_Sale1::after {
    content: ""; /* Thêm dòng chữ vào phần tử sau khi hover */
    position: absolute;
    top: 50%; /* Đưa phần tử vào vị trí giữa theo chiều dọc */
    left: 50%; /* Đưa phần tử vào vị trí giữa theo chiều ngang */
    transform: translate(-50%, -50%); /* Dịch chuyển phần tử để nằm chính giữa */
    color: white; /* Màu chữ */
    font-size: 50px; /* Cỡ chữ */
    text-align: center; /* Căn giữa theo chiều ngang */
    line-height: 1.5; /* Đảm bảo chữ văn bản nằm giữa phần tử */
    z-index: 1; /* Đảm bảo phần tử này nằm trên lớp đen */
}

.grid-noitce { 
background-size: cover;

width: 100%;
 } 

 .noitce { 
    cursor: pointer;
    
 }

 @media screen {
    
 }

@media only screen and (max-width: 430px) {
    /* CSS rules for screens up to 430px wide */
    .text_title2{
        font-size: 20px;
    }
    .text_title{
     visibility: hidden;
        font-size: 10px;
         
    }
    .btn_order { 
        transform: translateY(-40px);
        scale:  0.5;
        margin-bottom: 20px;
    }
  }
  